source/nuPickers-FlickrPickers/obj/
source/nuPickers-FlickrPickers.v12.suo
source/nuPickers-FlickrPickers/bin/
source/packages/
source/nuPickers-FlickrPickers/nuPickers-FlickrPickers.csproj.user
*.nupkg
source/nuPickers-FlickrPickers/FlickrNet.chm
package/nuPickers_Flickr_Pickers_*.zip
