@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using nuPickers; @* Picker obj *@
@using nuPickers.FlickrPickers; @* extension methods on Picker obj *@
@{
    /*
     * Optional Macro Parameters:
     *
     *  int     contextId       - the current document / media or member being edited
     *  string  propertyAlias   - the property alias of the picker
     *  string  key             - the key value of the current item being processed
     *  string  label           - the label value of the current item being processed
     *  string  keys            - the full collection of all item keys as a csv
     *  int     counter         - the index of the current item being processed
     *  int     total           - the total number of items
     *
     */

    int contextId = int.Parse(Model.MacroParameters["contextId"].ToString()); // with propertyAlias, identifies current picker
    string propertyAlias = Model.MacroParameters["propertyAlias"].ToString(); // with contextId, identifies current picker   
    string key = Model.MacroParameters["key"].ToString(); // identifies the current item
    
    Picker picker = new Picker(contextId, propertyAlias); // this is a generic nuPicker Picker obj (same as that returned by the PropertyValueConverter)

    FlickrImage flickrImage = picker.GetFlickrImage(key); // FlickrPicker specific extension methods are used with the generic Picker obj

    /*
     * FlickrImage Properties:
     *
     *  string              PhotoId
     *  DateTime            DateTaken
     *  DateTime            DateUploaded
     *  string              Title
     *  string              Description
     *  IEnumerable<string> Tags
     *  string              OriginalUrl
     *  string              LargeUrl
     *  string              MediumUrl
     *  string              SmallUrl
     *  string              ThumbnailUrl
     *  string              SquareThumbnailUrl
     *  string              WebUrl
     *
     */

    <img src="@flickrImage.ThumbnailUrl" />
    <h4>@flickrImage.Title</h4>
    <h5>@string.Join(", ", flickrImage.Tags)</h5>
}