@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using FlickrNet;
@using nuPickers;
@using nuPickers.FlickrPickers;

@{
    int contextId = int.Parse(Model.MacroParameters["contextId"].ToString());
    string propertyAlias = Model.MacroParameters["propertyAlias"].ToString();
    string key = Model.MacroParameters["key"].ToString();    

    PhotoInfo photoInfo = new Picker(contextId, propertyAlias).GetPhotoInfo(key);
    
    <img src="@photoInfo.ThumbnailUrl" />
    <p>@key</p>    
}