@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using nuPickers;
@using nuPickers.FlickrPickers;

@{
    int contextId = int.Parse(Model.MacroParameters["contextId"].ToString());
    string propertyAlias = Model.MacroParameters["propertyAlias"].ToString();
    string key = Model.MacroParameters["key"].ToString();    

    FlickrImage flickrImage = new Picker(contextId, propertyAlias).GetFlickrImage(key);
    
    <img src="@flickrImage.ThumbnailUrl" />
    <p>@key</p>    
}